@font-face {
    font-family: 'Kosmolet';
    src: url('/fonts/spaceagecyrillic_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin-top: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: system-ui, sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

.example {
  font-family: 'Kosmolet', sans-serif;
  color:red;
}